fastapi==0.115.3
uvicorn==0.32.0
langchain==0.3.4
chromadb==0.5.15
openai==1.52.1
python-dotenv==1.0.1
pydantic==2.9.2
tqdm==4.66.5
numpy==1.26.4
transformers==4.45.2
scikit-learn==1.5.2
langchain-community==0.3.3
langchain-core==0.3.12
langchain-openai==0.2.3
langchain-chroma==0.1.4
langchainhub==0.1.21
tiktoken==0.8.0
beautifulsoup4==4.12.3
torch==2.5.0
tensorflow==2.18.0